[build-system]
requires = ["setuptools >= 77.0.3"]
build-backend = "setuptools.build_meta"

[project]
dynamic = ["version"]
name = "ics-ag-actor"
description = "ICS actor for the Auto Guider"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "astropy",
    "jplephem",
    "fitsio",
    "numpy",
    "psycopg2-binary",
    "sdss-opscore",
    "pytest",
    "pfs-utils",
]

[tool.setuptools.packages.find]
where = ["python/"]
include = ["agActor"]

[tool.black]
line-length = 110
target-version = ["py312"]

[tool.isort]
profile = "black"
line_length = 110
